<nav class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <!-- Left-aligned text -->
        <div class="flex items-center">
          <img src="assets/airbnb.png" alt="Airbnb" class="h-8 w-8">
          <a href="#" class="text-lg font-medium text-customPink hover:text-black">Airbnb</a>
        </div>
        
        <!-- Center-aligned text -->
        <div class="absolute inset-x-0 flex justify-center space-x-4">
            <a href="#" class="text-lg  text-gray-500  hover:text-black">Stays</a>
            <a href="#" class="text-lg  text-gray-5v00 hover:text-black">Experiences</a>
        </div>
        
        <!-- Right-aligned section -->
        <div class="flex items-center space-x-4">
          <a href="#" class="text-sm font-medium text-gray-700 hover:text-black">Airbnb your home</a>
          <img src="assets/internet.png" alt="web" class="h-8 w-8">
          <div class="flex items-center space-x-2 border border-gray-300 rounded-full p-2">
            <img src="assets/menu.png" alt="menu" class="h-8 w-8">
            <img src="assets/profile-picture.png" alt="profile-picture" class="h-8 w-8">
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center ">
        <div class="flex justify-center items-center  space-x-6 border border-gray-300 rounded-full p-2 w-3/4 mb-4">
            <!-- Where Dropdown -->
            <div class="relative" (click)="toggleWhere()">
              <button class="text-sm font-medium text-start text-gray-700 px-4 py-2 ">
                Where
                <br>
                <span class="text-gray-500">Search destinations</span>
              </button>
              <div *ngIf="showWhere" class="absolute bg-white text-gray-700 border border-gray-300 rounded-md mt-1 w-48 z-10">
                <a href="#" class="block px-4 py-2">Nairobi</a>
                <a href="#" class="block px-4 py-2">Mombasa</a>
                <a href="#" class="block px-4 py-2">Kisumu</a>
              </div>
            </div>
          
            <!-- Check In Calendar -->
            <div class="relative" (click)="toggleCheckIn()">
             <button class="text-sm font-medium text-start text-gray-700 px-4 py-2  border-l border-gray-300">
                Check In
                <br>
                <span class="text-gray-500">Add dates</span>
              </button>
              <div *ngIf="showCheckIn" class="absolute bg-white text-gray-700 border border-gray-300 rounded-md mt-1 w-48 z-10">
                <input type="date" class="w-full px-4 py-2 border border-gray-300 rounded-md" />
              </div>
            </div>
          
            <!-- Check Out Calendar -->
            <div class="relative" (click)="toggleCheckOut()">
                <button class="text-sm font-medium text-start text-gray-700 px-4 py-2  border-l border-gray-300">
                Check Out
                <br>
                <span class="text-gray-500">Add dates</span>
              </button>
              <div *ngIf="showCheckOut" class="absolute bg-white text-gray-700 border border-gray-300 rounded-md mt-1 w-48 z-10">
                <input type="date" class="w-full px-4 py-2 border border-gray-300 rounded-md" />
              </div>
            </div>
          
            <!-- Who Dropdown -->
            <div class="relative" (click)="toggleWho()">
              <button class="text-sm font-medium text-start text-gray-700 px-4 py-2  border-l border-gray-300">
                Who
                <br>
                <span class="text-gray-500">Add guests</span>

                <div class="flex-end">
                    <img src="assets/search.png" alt="plus" class="h-4 w-4">
                </div>
              </button>
              <div *ngIf="showWho" class="absolute bg-white text-gray-700 border border-gray-300 rounded-md mt-1 w-48 z-10">
                <a href="#" class="block px-4 py-2">1</a>
                <a href="#" class="block px-4 py-2">2</a>
                <a href="#" class="block px-4 py-2">3</a>
              </div>
            </div>
          </div>
    </div>   

 
      
      
      


  </nav>
  
  
  