<nav class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <!-- Left-aligned text -->
        <div class="flex items-center">
          <img src="assets/airbnb.png" alt="Airbnb" class="h-8 w-8">
          <a href="#" class="text-lg font-medium text-customPink hover:text-black">Airbnb</a>
        </div>
        
        <!-- Center-aligned text -->
        <div class="absolute inset-x-0 flex justify-center space-x-4">
            <a href="#" class="text-lg  text-gray-500  hover:text-black">Stays</a>
            <a href="#" class="text-lg  text-gray-5v00 hover:text-black">Experiences</a>
        </div>
        
        <!-- Right-aligned section -->
        <div class="flex items-center space-x-4">
          <a href="#" class="text-sm font-medium text-gray-700 hover:text-black">Airbnb your home</a>
          <img src="assets/internet.png" alt="web" class="h-8 w-8">
          <div class="flex items-center space-x-2 border border-gray-300 rounded-full p-2">
            <img src="assets/menu.png" alt="menu" class="h-8 w-8">
            <img src="assets/profile-picture.png" alt="profile-picture" class="h-8 w-8">
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  
  